.navbar-custom{
    background-color: red;
    height: 65px;
    align-items: center;
    display: flex;
}

.navbar-custom a{
    margin: 1rem;
}

.search-container{
    background-color: #222;
}

.search-container .title{
    height: 40px;
    align-items: center;
    display: flex;
}

.title .title-input{
    background-color:#65615D;
    width: 110px;
    height: 100%;
    margin-left:5rem;
}

.content-wrapper{
    background-color: #65615D;
}

.search-container .content-wrapper{
    height: 80px;
}

.search-container .content-wrapper .content{ 
    display: flex;
    height: 100%;
    margin-left: 5rem;
}

.content .content-element{
    width: 40%;
    display: flex;
    height: 100%;
   
}

.content-element .office-box{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content-element .office-box .information-text,
.content-element .date-box .information-text{
    width: 12%;
    display: flex;
    align-items: center;
}

.content-element .office-box input{
    height: 60%;
    width: 70%;
    margin-left: 0.2rem;
}

.content-element .date-box{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.content-element .date-box .date{
    display: flex;
    align-items: center;
    color: white;
    background-color: #222;
    width: 30%;
    height: 70%;
    justify-content: center;
}

.date .day{
    font-size: 25px;
}

.date .text-month{
    padding-left: 0.1rem;
}

.text-month .day-text{
    text-align: center;
}

.text-month .month{
    text-align: center;
}

.date-box .hour{
    margin-left: 0.3rem;
    width: 40%;
    height: 70%;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.content .button button{
    background-color: red;
    border-radius: 30px;
    height: 80%;
}