html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/app/static/uploads/travelinformation-eu-car-rental-2560-1097.jpg");
    background-size: cover;
    background-position: center;
}

.login-frame{
    width: 25%;
    height: 60%;
    border: 0.2rem solid white;
    background-color: rgba(0, 0, 0, 0.7);
}

.login-frame .title{
    display: flex;
    justify-content: center;
    color: white;
}  

.login-frame .error_text{
    color: white;
    display: flex;
    justify-content: center;
}

.login-frame form{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}

form input{
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}


form button{
    width: 40%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.login-frame .google-button{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.login-frame .google-button button{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 35px;
}

.or-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    color: white;
}

.or-container hr{
    width: 30%;
}

.or-container .or-text{
    margin: 0rem 0.2rem 0rem 0.2rem;
}

.login-frame .register{
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.register a{
    border: 2px solid black;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#ask_container{
    margin-top: 3rem;
}

/* For registeration page */

form label{
    margin-top: 0.5rem;
}

#countries,
#cities{
    width: 150px;
    text-align: center;
}

#registerButton{
    margin-top: 0.5rem;
    width: 120px;
}


/* media queries */

@media screen and (max-width: 1500px) {
    .login-frame{
        width: 40%;
        height: 65%;
    }

    #auth{
        width: 40%;
    }

    .register a{
        width: 40%;
    }
    
}

@media screen and (max-width:800px) {
    .login-frame{
        width: 50%;
    }

    #loginButton{
        width: 60%;
    }

    .or-container{
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {
    body{
        font-size: 12px;
    }

    .login-frame{
        width: 60%;
        height: 60%;
    }

    .or-container hr{
        width: 25%;
    }

   #auth{
    width: 60%;
   }

   .register a{
    width: 60%;
   }
}