<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/static/css/mainstyle.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <!-- Include jQuery UI library with datepicker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="navbar-custom">
        <a href="">
            <img class="logo" src="/app/static/uploads/avis-logo.svg" alt="">
        </a>
        {% if current_user == 'Guest' %}
        <div class="mid_container_user">
            Please login for location information!
         </div>
        <div class="end_container_register">
            <div class="text">
                Üye Girişi
            </div>
            <div class="icon">
                <a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a> 
            </div>
        </div>
        {% endif %}

        {% if current_user != 'Guest' %}
        <div class="mid_container_user">
            Welcome {{ current_user }}!
         </div>
        <div class="end_container_register">
            <div class="text">
                Logout
            </div>
            <div class="icon">
                <a href="/logout"><i class="fa-solid fa-right-to-bracket"></i></a> 
            </div>
        </div>
        {% endif %}
    </div>
    <div class="search-container">
        <div class="title">
            <div class="title-input">
                <input type="checkbox"><span>Araç Kirala</span>
            </div>  
        </div>
        <div class="content-wrapper">
            <div class="content">
                <form action="{{ url_for('home')}}" method="post" id="rentalForm">
                    <div class="content-element">
                        <div class="office-box">
                            <div class="information-text">
                                <span>Teslim Alma Ofisi</span></div>
                            <select name="pickupOffice" id="pickupOffice">
                                {%for office in office_list %}
                                    <option value="{{ office['title'] }}">{{ office['title'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="date-box">
                            <div class="information-text">
                                <span>
                                    Alış Tarihi
                                </span></div>
                            <div class="date">
                                <div class="day" id="day-of-month"></div>
                                <div class="text-month">
                                    <div class="day-text" id="day-of-week"></div>
                                    <div class="month" id="month"></div>
                                </div>
                                <input type="text" id="DatePicker" name="DatePicker" required>
                            </div>
                            <div class="hour">
                                <input type="time" id="appt" name="pickupHour" required>
                            </div>
                        </div>                 
                    </div>
                    <div class="content-element">
                        <div class="office-box">
                            <span class="information-text">
                                <span>İade Ofisi</span></span>
                                <select name="returnOffice" id="returnOffice">
                                    {%for office in office_list %}
                                        <option value="{{ office['title'] }}">{{ office['title'] }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                        <div class="date-box">
                            <span class="information-text">
                                <span>
                                    İade Tarihi
                                </span></span>
                            <div class="date">
                                <div class="day" id="day-of-month2"></div>
                                <div class="text-month">
                                    <div class="day-text" id="day-of-week2"></div>
                                    <div class="month" id="month2"></div>
                                </div>
                                <input type="text" id="DatePicker2" name="DatePicker2" required>
                            </div>
                            <div class="hour">
                                <input type="time" id="appt2" name="returnHour" required>
                            </div>
                        </div>  
                    </div>
                    <div class="button">
                        <button type="submit">2 GÜN KİRALA</button>
                    </div>
                </form>
            </div>    
        </div>
    </div>
    <div class="main-container">
        <div class="locations-container">
            <ul class="location-list">
                {% for office in office_list %}
                <li class="location">
                    <div class="location-title">
                        <span class="one">Avis Ofisi</span> <span class="two">{{ office['city'] }} {{ office['title'] }}</span> 
                    </div>
                    <div class="location-inside-container">
                        <div class="location-address">
                            {{ office['address'] }}
                        </div>
                        <div class="location-contact">
                            {{ office['number'] }}
                        </div>
                        <div class="location-work-time">
                            <div class="work-days">
                                <strong>Pazartesi - Pazar</strong>
                            </div>
                            <div class="work-hours">
                                09:00 - 19:00
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="map">
            <div id="googleMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d200065.91038004076!2d27.07971705!3d38.41767505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd862a762cacd%3A0x628cbba1a59ce8fe!2zxLB6bWly!5e0!3m2!1str!2str!4v1703572098410!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    </div>
</body>
</html>