<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="login-frame">
            <div class="title">
                <h2>Login</h2>
            </div>
            <div class="error_text">
                {{ error }}
            </div>
            
            <hr>
            <form id="loginForm" action="/login" method="POST">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button type="submit" id="loginButton">Sign In</button>
                <div class="or-container">
                    <hr>
                    <span class="or-text">or</span>
                    <hr>
                </div>
            </form>
            <div class="google-button">
                <a href="{{url_for('googleLogin')}}">Sign in with Google</a>
            </div>
            <div class="or-container" id="ask_container">
                <hr>
                <span class="or-text">Do not have account?</span>
                <hr>
            </div>
            <div class="register">
                <a href="/register">Create An Account</a>
            </div> 
        </div>
    </div>
</body>
</html>