<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
    <script src="{{ url_for('static', filename='js/reg.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="login-frame">
            <div class="title">
                <h2>Register</h2>
            </div>
            <hr>
            <div class="error_text">
                {{ message }}
            </div>
            <form id="registrationForm" action="/register" method="POST">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <input type="password" id="passwordAgain" name="passwordAgain" placeholder="Password Again" required>
                <label for="countries" style="color: white;">Select a country:</label>
                <select id="countries" name="countries"></select>
                <label for="cities" style="color: white;">Select a city:</label>
                <select id="cities" name="cities"></select>
                <button type="submit" id="registerButton">Register</button>
                <div class="or-container">
                    <hr>
                    <span class="or-text">or</span>
                    <hr>
                </div>
            </form>
            <div class="google-button">
                <button type="submit" id="auth">Register with Google</button>
            </div>
        </div>
    </div>
</body>
</html>