<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/static/css/mainstyle.css">
</head>
<body>
    <div class="navbar-custom">
        <a href="">
            <img class="logo" src="/app/static/uploads/avis-logo.svg" alt="">
        </a>   
    </div>
    <div class="main-container">
        <div class="main-container-content-wrapper">
            <div class="content">
                {% for group_price,vehicle_group in vehicle_list.items() %}
                <ul class="vehicle-card">
                    {% for vehicle in vehicle_group %}
                    <li>{{ vehicle.CarType }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

