<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/static/css/rent.css">
</head>
<body>
    <div class="navbar-custom">
        <a href="/home">
            <img class="logo" src="/app/static/uploads/avis-logo.svg" alt="">
        </a>   
    </div>
    <div class="main-container">
        <div class="main-container-content-wrapper">
            <form action="/rent" method="post">
                <label for="vehicleType">Vehicle Type:</label>
                <select name="vehicleType" id="">
                    <option value="ALL">Tüm Araçlar</option>
                    <option value="EKONOMİK">Ekonomik</option>
                </select>
                <label for="price">Sırala:</label>
                <select name="price" id="">
                    <option value="ASC">En Düşük Fiyat</option>
                    <option value="DESC">En Yüksek Fiyat</option>
                </select>
                <label for="transmissionType">Vites</label>
                <select name="transmissionType" id="">
                    <option value="ALL">ALL</option>
                    <option value="OTOMATİK">Otomatik</option>
                    <option value="MANUEL">Manuel</option>
                </select>
                <button type="submit">Search</button>
            </form>
            <div class="content">
                {% for vehicle in vehicle_list %}          
                <div class="vehicle-card">
                    <div class="vehicle-card-top">
                        <div class="vehicle-info">
                            <div class="text-wrapper">
                                <p class="car-type">{{ vehicle['CarType'] }}</p>
                                <p class="model-info">{{ vehicle['Brand'] }} {{ vehicle['Model'] }}</p>
                            </div> 
                            <div class="title">
                                Tüm Özellikler/Kiralama Şartları
                            </div>
                        </div>
                    </div>
                    <div class="vehicle-card-main">
                        <div class="vehicle-details">
                            <ul>
                                <li>{{ vehicle['FuelType'] }}</li>
                                <li>{{ vehicle['Transmission'] }}</li>
                                <li>{{ vehicle['DepositPrice'] }} TL Depozito</li>
                                <li>{{ vehicle['DefaultKM'] }} KM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="{{ vehicle['Image'] }}">
                    </div>
                    <div class="vehicle-card-bottom">
                        <div class="price-info">
                            <div class="price">
                                <span class="daily">{{ vehicle['DailyRentPrice'] }}</span> <span class="discounted">{{ vehicle['DiscountedPrice'] }} / Günlük</span>
                            </div>
                            <p>Online Ödeme Kazancınız:</p>
                            <p class="discount">{{ vehicle['Discount'] }}</p>
                        </div>
                        <div class="button">
                            <button>Hemen Öde <span>></span></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

